*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #232428;
    width: 100svw;
    height: 100svh;
    color: #bcbec2;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", "Noto Color Emoji", sans-serif !important;
    font-size: 15px;
    font-weight: 500;
    display: flex;
}

#bodywrap {
    width: 70vw;
    height: 100vh
}

textarea,
input,
select,
button,
.ui-dialog *,
.ui-widget textarea {
    font-family: "Noto Sans", "Noto Color Emoji", sans-serif;
}


::-webkit-scrollbar {
    width: 12px;
    scrollbar-gutter: stable;
    /* border: 5px solid #313338; */
}

::-webkit-scrollbar-track {
    background-color: #2c2d31;
    border: 3px solid #313338;
    margin-top: 5px;
    margin-bottom: 5px;

    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #1e1f23;
    border-radius: 10px;
    background-clip: content-box;
    border: 3px solid transparent;
    min-height: 40px;
}

.spanner15vw {
    width: 15vw;
}

#contentWrap {
    max-height: 100svh;
    width: 100%;
    transition: width 250ms ease;
    /* always transition width */
}

.widthFull {
    width: 100%;
}

.widthNarrow {
    width: 70% !important;
    /* or any desired value */
    /*max-width: 900px; /* optional, for large screens */
}

#chatWrap {
    position: relative;
    max-height: 100%;
    overflow-y: auto;
}

#rightWrap {
    width: 70%;
}

#universalControls {
    position: relative;
    width: 100%;
    height: 3em;
}

#universalControls>div {
    gap: 1em
}

#LLMChatWrapper,
#OOCChatWrapper {
    height: 100%;
    overflow: hidden;
    position: relative;
    background: #313338;
    border-radius: 10px;
    padding: 5px;
}

#inputBlock,
#AIInputBlock {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #313338;
    border-radius: 0 0 10px 10px;
}

.inputAndIconsWrapper {
    border-radius: 10px;
    margin: 5px;
    background-color: #393a3f;
    width: 100%;
}

#controlPanel {
    max-width: 15vw;
    width: 15vw;
    /* min-width: 200px; */
    background-color: #2c2d31;
    /* margin-right: 5px; */
    /* border-radius: 0 10px 10px 0; */
    height: 100vh;
    max-height: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
}

#controlPanel h4,
#userListsWrap h4 {
    margin: 0;
    font-size: 1.25em;
    text-align: center;
}

#controlPanel span {
    font-size: 0.8em;
    color: #666
}

small,
#pastChatsBlock span {
    font-size: 0.8em;
}


#AIConfigBlock,
#pastChatsBlock {
    flex-shrink: 0;
}

#insertionsBlock:not(.minimized) {
    flex-grow: 1;
    min-height: 0;
    flex-shrink: 0;
}

#insertionsBlock.minimized {
    flex-grow: 0;
    min-height: 0;
}

input,
textarea,
button,
select,
.nonButtonButton {
    border-radius: 5px;
    border: 0;
    background-color: #393a3f;
    color: #afb1b6;
    outline: none;

    z-index: 2;
}

#finalInstructionBlock,
#systemPromptBlock,
#authorsNoteBlock {
    flex-grow: 1;
    min-height: 0;
}

#controlPanel textarea {
    /* height: 100% */
    flex-grow: 1;
    min-height: 0;
    /* allows it to shrink below content size */
    resize: none;
    /* optional: disables manual resizing */
    width: 100%;
    /* ensures full width */
    box-sizing: border-box;
    /* padding won't expand width/height */
}

#promptConfigTextFields {
    flex: 1;
    overflow-y: auto;
    min-height: 0;
}


button,
select,
.nonButtonButton,
.messageButton {
    cursor: pointer;
}

.messageButton {
    font-size: 1.3em;
    padding-left: 5px;
}

#AIChatHostControls input[type='text'],
#userChatHostControls input[type='text'] {
    width: 2.5em;
    padding-left: 5px;
}

button,
select,
input,
.nonButtonButton {
    transition: all 250ms;
}

textarea {
    transition: background-color 250ms;
}

select {
    font-size: 0.8em;
    appearance: none;
    padding: 3px 1em 3px 3px;
    width: fit-content;
    /* min-width: 50px; */
    display: flex;
    max-width: 200px;
}

select:hover:not(:disabled),
.pastChatItem:hover {
    background-color: #52545b;
}

.hostControls {
    display: none !important
}

.positionAbsolute {
    position: absolute;
}

.positionRelative {
    position: relative;
}

.custom-select {
    display: flex;
    justify-content: right;
    position: relative;
    z-index: 3;
    width: fit-content;
    max-width: 200px;
}

.chatTrash {
    top: 0;
    right: 0;
    background: transparent;
}

.custom-select::before,
.custom-select::after {
    --size: 0.3rem;
    content: "";
    position: absolute;
    right: 3px;
    top: 3px;
    pointer-events: none;
    z-index: 3;
}

.custom-select::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid #888;
    top: 25%;
}

.custom-select::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid #888;
    top: 50%;
}

#modelList {
    max-width: 200px;
}

/*CHECKBOXES*/
input[type='checkbox'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* outline: 1px solid #666; */
    position: relative;
    width: 1.5em;
    height: 1.5em;
    overflow: hidden;
    border-radius: 3px;
    /* border: 1px solid #666; */
    background-color: #343437;
    /* another weird color mismatch cope */
    box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transform: translateY(-0.075em);
    flex-shrink: 0;
    place-content: center;
    filter: brightness(1.2);
}

input[type='checkbox'] {
    display: grid;
}

input[type="checkbox"]::before {
    content: "";
    width: 1em;
    height: 1em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #888;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type='checkbox']:hover {
    filter: brightness(1.5);
}

.checkbox_label {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    align-items: baseline;
}

button,
input,
.nonButtonButton {
    padding: 3px;
    width: fit-content;
}

.scrollY {
    overflow-y: auto;
}

.hoverglow {
    transition: all 250ms;
    outline: 1px solid #666;
    filter: saturate(0.5);

}

.messageTime {
    font-size: 0.8em;
    margin-left: 5px;
    color: #888;
    font-weight: 400;
}


.bgBrightUp:hover,
.bgBrightUp:focus {
    background-color: #52545b;
    border: 0;
}

.textBrightUp:hover {
    color: white !important
}

#OOCChatWrapper img,
#LLMChatWrapper img {
    max-height: 80%;
    max-width: 80%
}

code {
    font-family: monospace;
    background: #232428;
    border-radius: 5px;
    padding: 2px 4px;
    margin: 5px;
    line-height: 1.4em;
    font-size: 1.1em;
    text-wrap: wrap;
}

pre {
    /* border: 1px solid white; */
    padding: 0px 5px;
    background: #232428;
    margin: 5px;
    border-radius: 5px;
    width: fit-content;
}

.invisible-quotation::before,
.invisible-quotation::after {
    display: none;
}

#userChat>div,
#AIChat>div {
    padding: 5px 5px 5px 5px;
    margin: 15px 0;
    overflow-wrap: break-word;
    border-radius: 10px;
    width: 100%;
    height: fit-content;
}

#userChat div:hover,
#AIChat div:hover {
    background-color: #2f3035
}

#AIChat>div:hover .messageControls,
#userChat>div:hover .messageControls {
    /* display: flex; */
    opacity: 0.7;

}

.messageControls {
    /* display: flex; */
    opacity: 0;
    right: 5px;
    gap: 10px;
    position: relative;
}

#mesEditPopup {
    display: flex;
    flex-flow: column;
    padding: 5px;
}

#mesEditText,
#modalUsernameInput {
    width: 100%;
    background-color: #393a3f;
    padding: 3px 7px;
    flex: 1;
}

.ui-dialog #modalUsernameInput,
#usernameInput,
#AIUsernameInput {
    transition: background-color 0.3s ease;
    /* Smooth color change */
}

.hidden {
    display: none !important;
}

#userChat div p,
#AIChat div p {
    margin: 0;
    padding-bottom: 10px;
}

#userChat div p em,
#AIChat div p em {
    color: #797d86
}

#userChat div p q,
#AIChat div p q {
    color: #8ca3d9
}

#AIMessageInput,
#messageInput {
    height: 2.2em;
    min-height: 2.2em;
    flex-grow: 1;
    background-color: transparent;
    padding: 5px 10px;
    font-size: 1em;
    max-height: 50vh;
    overflow-y: auto;
    line-height: 1.4em;
}

#AIChatInputButtons,
#UserChatInputButtons {
    top: 0px;
    background-color: #313338;
}

#UserChatInputButtons {
    border-radius: 0 10px 10px 0;
    background-color: #393a3f;
}

#AIChatInputButtons button {
    padding: 0
}

input::placeholder {
    color: #666;
    align-self: center;
    justify-self: center;
}

.disconnected::placeholder {
    color: red;
}

#controlPanelToggle {
    left: 5px;
    /* filter: hue-rotate(213deg) saturate(0.5) brightness(1.1); */
}

#userRole {
    font-size: 0.8em;
    color: #666
}

#roleKeyInput {
    width: 32em;
    height: 2em
}

#userChat,
#AIChat {
    flex: 1;
    overflow-y: auto;
    height: 100%;
    max-height: 100%;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.2)
        /* padding: 7px 5% 5px 10px; */
}

.chatAndTrashWrap {
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    padding-top: 5px;
    background-color: #313338;
    border-radius: 10px 10px 0px 0px;
}

#userListsWrap {
    background: #2c2d31;
    /* padding: 10px 5px; */
    /* margin: 0 0 0 5px; */
    /* border-radius: 10px; */
    height: 100vh;
    width: 15vw;
    overflow-x: hidden;
    overflow-y: auto;
}

#userList,
#AIChatUserList {
    width: 7vw;
    overflow-y: auto;
    max-height: 100%;
    overflow-x: hidden;
    line-break: anywhere;
    margin-top: 5px;
}

#userList>small,
#AIChatUserList>small {
    /*     display: block;
    position: absolute;
    top: 5px; */
}

#lists {
    min-height: 0
}

#userList {
    border-right: 1px dashed #1e1f23
}

#userList ul,
#AIChatUserList ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#userList ul li,
#AIChatUserList ul li {
    padding: 3px;
    font-size: 0.8em;
}

#pastChatsBlock {
    max-height: 50svh;
    flex-shrink: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#pastChatsWrap {
    position: relative;
    overflow-y: hidden;
}

#controlPanelContents {
    overflow-y: hidden;
}

#pastChatsList {
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 5px;
    padding: 0px 5px 0 10px;
    /*     padding-right: 5px;
    padding-left: 10px; */
    height: 100%;
    -webkit-background-clip: text;
}

.pastChatItem {
    cursor: pointer;
    padding: 3px 0px 3px 7px;
    border-radius: 5px;
    /* border: 1px solid #666; */
    background-color: #393a3f;
    width: 100%;
    height: fit-content
}

.pastChatItem.activeChat {
    background-color: #383e5e;
}

.pastChatItem.activeChat:hover {
    background-color: #2e3b80;
}

#pastChatsList:hover {
    /* this makes the scrollbar fade in */
    background-color: #1e1f23;
}

#pastChatsList,
.dummyBG {
    transition: all 0.5s;
    -webkit-background-clip: text;
}

#pastChatsList::-webkit-scrollbar,
#finalInstruction::-webkit-scrollbar {
    transition: all 0.5s;
    width: 8px;
    height: 8px;
}

#pastChatsList::-webkit-scrollbar-track,
#finalInstruction::-webkit-scrollbar-track,
#AIMessageInput::-webkit-scrollbar-track,
#messageInput::-webkit-scrollbar-track {
    display: none;
}

#pastChatsList::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: inherit;
    border-radius: 10px;
    border: 1px solid transparent;
}

#finalInstruction::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: inherit;
    border-radius: 10px;
    border: 1px solid transparent;
}

#finalInstruction:hover::-webkit-scrollbar-thumb {
    background-color: #2c2d31;
}


/* small {
    font-size: 0.7em
} */

hr {
    background-image: linear-gradient(90deg, rgba(128, 128, 128, 100), rgba(128, 128, 128, 100));
    margin: 5px 0;
    height: 1px;
    min-height: 1px;
    border: 0;
    opacity: 0.2;
}

.padding5 {
    padding: 5px;
}

.paddingLR5 {
    padding: 0 5px;
}

.Hcentered {
    /* text-align: center; */
    justify-content: center;
}

.Vcentered {
    align-items: center;
    align-content: center;
}

.alignContentStart {
    align-content: start;
}


.alignSelfCenter {
    align-self: center
}

.alignItemsCenter {
    align-items: center;
}

.alignItemsEnd {
    align-items: end;
}

.marginTop5 {
    margin-top: 5px;
}

.marginBot5 {
    margin-bottom: 5px;
}

.marginLeft5 {
    margin-left: 5px;
}

.marginRight5 {
    margin-right: 5px;
}

.margin5 {
    margin: 5px;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.gap10 {
    gap: 10px;
}

.noGap {
    gap: 0
}

.noWrap {
    flex-wrap: nowrap;
}

.noTextWrap {
    text-wrap: nowrap;
}

.greenHighlight {
    background-color: #496951 !important;
}

.borderRad5 {
    border-radius: 5px;
}

.borderRad10 {
    border-radius: 10px;
}

.flexFlowCol {
    flex-flow: column;
}

.flex1 {
    flex: 1
}

.flex1p5 {
    flex: 1.5
}

.widthMinContent {
    width: min-content
}

.widthFitContent {
    width: fit-content
}

.width50p {
    width: 50%
}

.width100p {
    width: 100%
}

.maxWidth100px {
    max-width: 100px;
}

.maxWidth50px {
    max-width: 50px;
}

.width100px {
    width: 100px
}

.width50px {
    width: 50px
}

.fontSize1p5em {
    font-size: 1.5em
}

.square1p5em {
    height: 1.5em;
    width: 1.5em;
    padding: 0;
}

.fontSize1p25em {
    font-size: 1.25em
}

.square1p25em {
    height: 1.25em;
    width: 1.25em;
    padding: 0;
}

.greyscale {
    filter: saturate(0)
}

.mutedColor {
    filter: saturate(0.3)
}

/* a cope for greyscale affecting background colors */
/* and making them not match the other inputs */
#controlPanel button.greyscale {
    background-color: #3a3c45
}

.bgTransparent {
    background-color: transparent;
}


.opacityZero {
    opacity: 0;
}

.opacityHalf {
    opacity: 0.5;
}

.opacityHalf:hover {
    opacity: 1
}

.greyscale:not(:disabled):hover,
.mutedColor:not(:disabled):hover {
    filter: saturate(0.7);
}

.transition125 {
    transition: all 125ms ease-in-out;
}

.transition250 {
    transition: all 250ms ease-in-out;
}

.transition500 {
    transition: all 0.5s ease-in-out;
}

.justifySpaceBetween {
    justify-content: space-between;
}

.justifySpaceAround {
    justify-content: space-around;
}

.justifyContentCenter {
    justify-content: center;
}

.justifyContentEnd {
    justify-content: end;
}

.textshadow {
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.flipHorizontal {
    display: inline-block;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
}

.flipVertical {
    display: inline-block;
    transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    -o-transform: scaleY(-1);
}

.flipBoth {
    display: inline-block;
    transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    -ms-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
}

.mirror {
    display: inline-block;
    transform: rotateX(180deg);
}


.chatHideDivWrapper {
    max-height: 100%;
    overflow-y: auto;
}

.height100p {
    height: 100%
}

.heightFitContent {
    height: fit-content;
}

/* .isControlPanelToggle {
    min-height: 5vh;
} */

#profileManagementMenu {
    right: 15vw;
    /* top: 3em; */
    background-color: #2c2d31;
    width: min-content;
    padding: 5px;
    z-index: 10;
    border-radius: 0 0 0 10px;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3);
}


#AIChatHostControls {
    background-color: #313338;
    z-index: 9;
}

.overflowYHidden {
    overflow-y: hidden
}

.overflowXHidden {
    overflow-x: hidden
}

.JQUIPopupInput {
    width: 100%;
    background-color: #393a3f !important;
    padding: 3px 7px;
    resize: none !important;
}

.ui-dialog .ui-dialog-title {
    text-align: center;
    width: 100%;
}

.ui-dialog .ui-dialog-titlebar {
    padding-inline-start: 5px;
    border-radius: 0;
}

.ui-dialog #errorMessage {
    min-height: 20px;
    margin: 10px 0 0;
    color: #cd334d;
    /* Match clearLocalStorage’s warning color */
}

.ui-widget-overlay {
    background: rgba(0, 0, 0, 1);
    opacity: 0.5;
    backdrop-filter: blur(20px);
}

.ui-widget,
.ui-widget *,
.ui-dialog,
.ui-dialog *,
.ui-widget-content,
.ui-widget.ui-widget-content,
.ui-widget-content * {
    background: #2c2d31;
    border: 0;
    border-radius: 10px;
    color: #bcbec2;
}

.ui-dialog {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.ui-button,
.ui-dialog input {
    border-radius: 5px;
    border: 0;
    background-color: #393a3f;
    color: #afb1b6;
    outline: none;
}

.ui-button:hover,
.ui-button:focus {
    border: 0;
}

.ui-dialog-titlebar-close {
    displaY: none;
}

input:disabled,
select:disabled,
input[readonly]:not([type="checkbox"]),
button:disabled,
.disabled {
    cursor: not-allowed;
}

.alignItemsEnd {
    align-items: end;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid black;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal input,
.modal button {
    margin: 10px 0;
    padding: 5px;
    width: 100%;
    max-width: 200px;
}

.modal p {
    margin: 0 0 10px;
}

.modal #errorMessage {
    min-height: 20px;
    /* Ensure space for error messages */
}

.chatOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    font-weight: bold;
    pointer-events: all;
    transition: background-color 1s linear;
    z-index: 10;
}

.clearChatCancelButton {
    margin-top: 10px;
    padding: 6px 12px;
    background: red;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
    transition: background 0.3s ease;
}

.clearChatCancelButton:hover {
    background: darkred;
}

.unavailable-overlay {
    position: relative;
    display: flex;
    align-items: center;
    width: max-content;

}

.unavailable-overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    border-radius: 10px;
    border: 1px solid black;
    /* ensure it's above inner content */
    background-image: repeating-linear-gradient(45deg,
            black,
            black 3px,
            transparent 3px,
            transparent 6px);
    pointer-events: auto;
    cursor: not-allowed;
    opacity: 0.5;
}


/* Shake with rotation and offset movement */
@keyframes intenseShake {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    20% {
        transform: translate(var(--shake-intensity), calc(var(--shake-intensity) * -1)) rotate(-0deg);
        /* filter: blur(1px) drop-shadow(0 0 1px rgba(255, 0, 0, .5)); */
    }

    40% {
        transform: translate(calc(var(--shake-intensity) * -1), var(--shake-intensity)) rotate(0deg);
        /* filter: blur(1px) drop-shadow(0 0 1px rgba(255, 0, 0, .5)); */
    }

    60% {
        transform: translate(var(--shake-intensity), var(--shake-intensity)) rotate(-0deg);
        /* filter: blur(1px) drop-shadow(0 0 1px rgba(255, 0, 0, .5)); */
    }

    80% {
        transform: translate(calc(var(--shake-intensity) * -1), calc(var(--shake-intensity) * -1)) rotate(0deg);
        /* filter: blur(1px) drop-shadow(0 0 1px rgba(255, 0, 0, .5)); */
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
        /* filter: blur(1px) drop-shadow(0 0 1px red); */
    }
}

/* Shake class using the intenseShake animation */
.nervousShake {
    display: inline-block;
    animation: intenseShake .1s infinite;
    will-change: transform;
    --shake-intensity: 1px;
}


@media (max-width: 1000px) {

    #bodywrap {
        max-height: calc(100svh - 20px);
        width: 100svw;
        flex-flow: column;
    }

    #chatWrap {
        flex-flow: column;
    }

    #universalControls button {
        position: relative;
        font-size: 1.5em;
    }

    #controlPanel,
    #userListsWrap {
        width: 100svw;
        max-width: 100svw;
        height: calc(100% - 3em - 30px);
        min-height: calc(100svh - 3em - 30px);
        padding: 10px;
        top: 3em;
        left: 0px;
        position: absolute;
        border-radius: 0;
        z-index: 25;
        /* display: none; */
        box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.5);
    }

    #LLMChatWrapper,
    #OOCChatWrapper {
        flex-basis: 100%;
        /* height: 50%; */
        flex: 1;
        box-sizing: border-box;
        padding-top: 5px;
        width: 100%;
    }

    .chatHeader {
        padding-bottom: 10px;
    }

    .chatHideDivWrapper {
        flex-flow: column;
    }

    #chatWrap {
        max-width: 100%;
        max-height: calc(100svh - 3em - 30px);
        flex-flow: column;
    }

    #roleKeyInput,
    #characters,
    #AIUsernameInput,
    #usernameInput,
    input,
    select {
        height: 2em;
        font-size: 1em
    }

    input[type='checkbox'] {
        height: 2em;
        width: 2em;
    }

    button:not(#controlPanel button, .ui-button) {
        font-size: 1.5em !important;
    }

    /*     #userListsWrap {
        background: #2c2d31;
        padding: 3em 5px;
        height: calc(100svh - 3em);
        width: 100vw;
        overflow-x: hidden;
        overflow-y: auto;
        position: absolute;
        right: 0;
        top: 3em;
        z-index: 20;
    } */

    #userList,
    #AIChatUserList {
        width: 'unset';
        flex: 1;
    }



}