*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
html {
    background-color: #232428;
    width: 100vw;
    height: 100vh;
    color: #bcbec2;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", "Noto Color Emoji", sans-serif;
    font-size: 15px;
    font-weight: 500;
    overscroll-behavior: none;
    touch-action: none;
    overflow: hidden;
}

/* jQuery UI Specific Styles */
.ui-widget,
.ui-dialog,
.ui-widget-content,
.ui-dialog-titlebar,
.ui-dialog-title,
.ui-widget.ui-widget-content {
    background: #2c2d31;
    border: 0;
    border-radius: 10px;
    color: #bcbec2;
    font-family: "Noto Sans", "Noto Color Emoji", sans-serif;
}

.ui-dialog .ui-dialog-title {
    text-align: center;
    width: 100%;
}

.ui-dialog .ui-dialog-titlebar {
    padding-inline-start: 5px;
    border-radius: 0;
}

.ui-button,
.ui-dialog input {
    border-radius: 5px;
    border: 0;
    background-color: #393a3f;
    color: #afb1b6;
    outline: none;
}

.ui-widget-overlay {
    background: rgba(0, 0, 0, 1);
    opacity: 0.5;
    backdrop-filter: blur(20px);
}

.ui-dialog {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.ui-dialog #errorMessage {
    min-height: 20px;
    margin: 10px 0 0;
    color: #cd334d;
}

.ui-dialog-titlebar-close {
    display: none;
}

#appWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
}

#bodyWrap {
    width: 70vw;
    height: 100vh;
}

#contentWrap {
    height: 100svh;
    width: 100%;
    transition: width 250ms ease;
}

.widthFull {
    width: 100%;
}

.widthNarrow {
    width: 70% !important;
}

#chatWrap {
    position: relative;
    max-height: 100%;
    overflow-y: auto;
}

#LLMChatWrapper,
#OOCChatWrapper {
    height: 100%;
    overflow: hidden;
    position: relative;
    background: #313338;
    border-radius: 10px;
    padding: 5px;
}

.hidden {
    display: none !important;
}

::-webkit-scrollbar {
    width: 12px;
    scrollbar-gutter: stable;
}

::-webkit-scrollbar-track {
    background-color: #2c2d31;
    border: 3px solid #313338;
    margin: 5px 0;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #1e1f23;
    border-radius: 10px;
    background-clip: content-box;
    border: 3px solid transparent;
    min-height: 40px;
}

.spanner15vw {
    width: 15vw;
}

#rightWrap {
    width: 70%;
}

#universalControls {
    position: relative;
    width: 100%;
    height: 3em;
}

#universalControls>div {
    display: flex;
    gap: 1em;
}

#inputBlock,
#AIInputBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #313338;
    border-radius: 0 0 10px 10px;
}

.inputAndIconsWrapper {
    border-radius: 10px;
    margin: 5px;
    background-color: #393a3f;
    width: 100%;
}

#controlPanel,
#userListsWrap {
    width: 15vw;
    background-color: #2c2d31;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

#controlPanel h4,
#userListsWrap h4 {
    margin: 0;
    font-size: 1.25em;
    text-align: center;
}

#controlPanel span,
#pastChatsBlock span,
small {
    font-size: 0.8em;
    color: #666;
}

#AIConfigBlock,
#pastChatsBlock {
    flex-shrink: 0;
}

#insertionsBlock:not(.minimized) {
    flex-grow: 1;
    min-height: 0;
}

#insertionsBlock.minimized {
    flex-grow: 0;
    min-height: 0;
}

input,
textarea,
button,
select,
.nonButtonButton {
    border-radius: 5px;
    border: 0;
    background-color: #393a3f;
    color: #afb1b6;
    outline: none;
    z-index: 2;
    transition: all 250ms;
    padding: 3px 5px;
}

textarea {
    transition: background-color 250ms;
}

#finalInstructionBlock,
#systemPromptBlock,
#authorsNoteBlock {
    flex-grow: 1;
    min-height: 0;
}

#controlPanel textarea {
    flex-grow: 1;
    min-height: 0;
    resize: none;
    width: 100%;
    box-sizing: border-box;
}

#promptConfigTextFields {
    flex: 1;
    overflow-y: auto;
    min-height: 0;
}

button,
select,
.nonButtonButton,
.messageButton {
    cursor: pointer;
}

.messageButton {
    font-size: 1.3em;
    padding-left: 5px;
}

#AIChatHostControls input[type='text'],
#userChatHostControls input[type='text'] {
    width: 2.5em;
    padding-left: 5px;
}

.hostControls {
    display: none;
}

.positionAbsolute {
    position: absolute;
}

.positionRelative {
    position: relative;
}

.custom-select {
    display: flex;
    justify-content: right;
    position: relative;
    z-index: 3;
    width: fit-content;
    max-width: 14vw;
}

.chatTrash {
    top: 0;
    right: 0;
    background: transparent;
}

/* .custom-select::before,
.custom-select::after {
    --size: 0.3rem;
    content: "";
    position: absolute;
    right: 3px;
    pointer-events: none;
    z-index: 3;
} */

/* .custom-select::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid #888;
    top: 25%;
}

.custom-select::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid #888;
    top: 50%;
} */

/* #modelList {
    max-width: 200px;
} */

input[type='checkbox'] {
    appearance: none;
    position: relative;
    width: 1.5em;
    height: 1.5em;
    border-radius: 3px;
    background-color: #343437;
    box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transform: translateY(-0.075em);
    flex-shrink: 0;
    place-content: center;
    filter: brightness(1.2);
    display: grid;
}

input[type="checkbox"]::before {
    content: "";
    width: 1em;
    height: 1em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #888;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

.checkbox_label {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    align-items: baseline;
}

button,
input,
.nonButtonButton {
    padding: 3px;
    width: fit-content;
}

.scrollY {
    overflow-y: auto;
}

.hoverglow {
    transition: all 250ms;
    outline: 1px solid #666;
    filter: saturate(0.5);
}

.messageTime {
    font-size: 0.8em;
    margin-left: 5px;
    color: #888;
    font-weight: 400;
}

#OOCChatWrapper img,
#LLMChatWrapper img {
    max-height: 80%;
    max-width: 80%;
}

code {
    font-family: monospace;
    background: #232428;
    border-radius: 5px;
    padding: 2px 4px;
    margin: 5px;
    line-height: 1.4em;
    font-size: 1.1em;
    text-wrap: wrap;
}

pre {
    padding: 0 5px;
    background: #232428;
    margin: 5px;
    border-radius: 5px;
    width: fit-content;
}

.invisible-quotation::before,
.invisible-quotation::after {
    display: none;
}

#userChat>div,
#AIChat>div {
    padding: 5px;
    margin: 15px 0;
    overflow-wrap: break-word;
    border-radius: 10px;
    width: 100%;
    height: fit-content;
}

.messageControls {
    opacity: 0.1;
    right: 5px;
    gap: 10px;
    position: relative;
}

.messageHeader:focus .messageControls,
.messageHeader:active .messageControls {
    opacity: 0.7;
}

#mesEditPopup {
    display: flex;
    flex-flow: column;
    padding: 5px;
}

#mesEditText,
#modalUsernameInput {
    width: 100%;
    background-color: #393a3f;
    padding: 3px 7px;
    flex: 1;
}

.ui-dialog #modalUsernameInput,
#usernameInput,
#AIUsernameInput {
    transition: background-color 0.3s ease;
}

#userChat div p,
#AIChat div p {
    margin: 0;
    padding-bottom: 10px;
}

#userChat div p em,
#AIChat div p em {
    color: #797d86;
}

#userChat div p q,
#AIChat div p q {
    color: #8ca3d9;
}

#AIMessageInput,
#messageInput {
    height: 2.2em;
    min-height: 2.2em;
    flex-grow: 1;
    background-color: transparent;
    padding: 5px 10px;
    font-size: 1em;
    max-height: 50vh;
    overflow-y: auto;
    line-height: 1.4em;
}

#AIChatInputButtons,
#UserChatInputButtons {
    top: 0;
    background-color: #313338;
}

#UserChatInputButtons {
    border-radius: 0 10px 10px 0;
    background-color: #393a3f;
}

#AIChatInputButtons button {
    padding: 0;
}

input::placeholder {
    color: #666;
    align-self: center;
}

.disconnected::placeholder {
    color: red;
}

#controlPanelToggle {
    left: 5px;
}

#userRole {
    font-size: 0.8em;
    color: #666;
}

#roleKeyInput {
    width: 32em;
    height: 2em;
}

#userChat,
#AIChat {
    flex: 1;
    overflow-y: auto;
    height: 100%;
    max-height: 100%;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.2);
}

.chatAndTrashWrap {
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    padding-top: 5px;
    background-color: #313338;
    border-radius: 10px 10px 0 0;
}

#userListsWrap {
    background: #2c2d31;
    height: 100vh;
    width: 15vw;
    overflow-x: hidden;
    overflow-y: auto;
}

#userList,
#AIChatUserList {
    width: 7vw;
    overflow-y: auto;
    max-height: 100%;
    overflow-x: hidden;
    line-break: anywhere;
    margin-top: 5px;
}

#userList {
    border-right: 1px dashed #444;
}

#userList ul,
#AIChatUserList ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#userList ul li,
#AIChatUserList ul li {
    padding: 3px;
    font-size: 0.8em;
}

#pastChatsBlock {
    max-height: 50vh;
    flex-shrink: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#pastChatsWrap {
    position: relative;
    overflow-y: hidden;
}

#controlPanelContents {
    overflow-y: hidden;
}

#pastChatsList {
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 5px;
    padding: 0 5px 0 10px;
    height: 100%;
    background-clip: text;
}

.pastChatItem {
    cursor: pointer;
    padding: 3px 0 3px 7px;
    border-radius: 5px;
    background-color: #393a3f;
    width: 100%;
    height: fit-content;
}

.pastChatItem.activeChat {
    background-color: #383e5e;
}

#pastChatsList,
.dummyBG {
    transition: all 0.5s;
    background-clip: text;
}

#pastChatsList::-webkit-scrollbar,
#finalInstruction::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

#pastChatsList::-webkit-scrollbar-track,
#finalInstruction::-webkit-scrollbar-track,
#AIMessageInput::-webkit-scrollbar-track,
#messageInput::-webkit-scrollbar-track {
    display: none;
}

#pastChatsList::-webkit-scrollbar-thumb,
#finalInstruction::-webkit-scrollbar-thumb {
    background-color: inherit;
    border-radius: 10px;
    border: 1px solid transparent;
}

hr {
    background-image: linear-gradient(90deg, rgba(128, 128, 128, 100), rgba(128, 128, 128, 100));
    margin: 5px 0;
    height: 1px;
    min-height: 1px;
    border: 0;
    opacity: 0.2;
}

.padding5 {
    padding: 5px;
}

.paddingLR5 {
    padding: 0 5px;
}

.Hcentered {
    justify-content: center;
}

.Vcentered {
    align-items: center;
}

.alignContentStart {
    align-content: start;
}

.alignSelfCenter {
    align-self: center;
}

.alignItemsCenter {
    align-items: center;
}

.alignItemsEnd {
    align-items: end;
}

.marginTop5 {
    margin-top: 5px;
}

.marginBot5 {
    margin-bottom: 5px;
}

.marginLeft5 {
    margin-left: 5px;
}

.marginRight5 {
    margin-right: 5px;
}

.margin5 {
    margin: 5px;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.gap10 {
    gap: 10px;
}

.noGap {
    gap: 0;
}

.noWrap {
    flex-wrap: nowrap;
}

.noTextWrap {
    text-wrap: nowrap;
}

.greenHighlight {
    background-color: #496951;
}

.borderRad5 {
    border-radius: 5px;
}

.borderRad10 {
    border-radius: 10px;
}

.flexFlowCol {
    flex-flow: column;
}

.flex1 {
    flex: 1;
}

.flex1p5 {
    flex: 1.5;
}

.widthMinContent {
    width: min-content;
}

.widthFitContent {
    width: fit-content;
}

.width50p {
    width: 50%;
}

.width100p {
    width: 100%;
}

.maxWidth100px {
    max-width: 100px;
}

.maxWidth50px {
    max-width: 50px;
}

.width100px {
    width: 100px;
}

.width50px {
    width: 50px;
}

.fontSize1p5em {
    font-size: 1.5em;
}

.square1p5em {
    height: 1.5em;
    width: 1.5em;
    padding: 0;
}

.fontSize1p25em {
    font-size: 1.25em;
}

.square1p25em {
    height: 1.25em;
    width: 1.25em;
    padding: 0;
}

.greyscale {
    filter: saturate(0);
}

.mutedColor {
    filter: saturate(0.3);
}

#controlPanel button.greyscale {
    background-color: #3a3c45;
}

.bgTransparent {
    background-color: transparent;
}

.opacityZero {
    opacity: 0;
    transition: opacity 250ms ease;
}

.opacityHalf {
    opacity: 0.5;
}

.transition125 {
    transition: all 125ms ease-in-out;
}

.transition250 {
    transition: all 250ms ease-in-out;
}

.transition500 {
    transition: all 0.5s ease-in-out;
}

.justifySpaceBetween {
    justify-content: space-between;
}

.justifySpaceAround {
    justify-content: space-around;
}

.justifyContentCenter {
    justify-content: center;
}

.justifyContentEnd {
    justify-content: end;
}

.textshadow {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.flipHorizontal {
    display: inline-block;
    transform: scaleX(-1);
}

.flipVertical {
    display: inline-block;
    transform: scaleY(-1);
}

.flipBoth {
    display: inline-block;
    transform: scale(-1, -1);
}

.mirror {
    display: inline-block;
    transform: rotateX(180deg);
}

.chatHideDivWrapper {
    max-height: 100%;
    overflow-y: auto;
}

.height100p {
    height: 100%;
}

.heightFitContent {
    height: fit-content;
}

#profileManagementMenu {
    right: 15vw;
    background-color: #2c2d31;
    width: min-content;
    padding: 5px;
    z-index: 10;
    border-radius: 0 0 0 10px;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3);
}

#AIChatHostControls {
    background-color: #313338;
    z-index: 9;
}

.overflowYHidden {
    overflow-y: hidden;
}

.overflowXHidden {
    overflow-x: hidden;
}

.JQUIPopupInput {
    width: 100%;
    background-color: #393a3f;
    padding: 3px 7px;
    resize: none;
}

#hostToast {
    display: none;
    position: fixed;
    top: 4.2em;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(216, 196, 76, 0.5);
    backdrop-filter: blur(4px);
    color: #333;
    padding: 15px;
    border-radius: 10px;
    font-size: 1.4em;
    font-weight: bold;
    z-index: 10000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    max-width: 65vw;
    border: 2px solid rgba(51, 51, 51, 0.4);
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#hostToast p {
    margin: 0;
    padding: 5px;
}

input:disabled,
select:disabled,
input[readonly]:not([type="checkbox"]),
button:disabled,
.disabled {
    cursor: not-allowed;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid black;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal input,
.modal button {
    margin: 10px 0;
    padding: 5px;
    width: 100%;
    max-width: 200px;
}

.modal p {
    margin: 0 0 10px;
}

.modal #errorMessage {
    min-height: 20px;
}

.chatOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    font-weight: bold;
    pointer-events: all;
    transition: background-color 1s linear;
    z-index: 10;
}

.clearChatCancelButton {
    margin-top: 10px;
    padding: 6px 12px;
    background: red;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
    transition: background 0.3s ease;
}

.unavailable-overlay {
    position: relative;
    display: flex;
    align-items: center;
    width: max-content;
}

.unavailable-overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    border-radius: 10px;
    border: 1px solid black;
    background-image: repeating-linear-gradient(45deg, black, black 3px, transparent 3px, transparent 6px);
    pointer-events: auto;
    cursor: not-allowed;
    opacity: 0.5;
}

@media (any-hover: hover) {

    select:hover:not(:disabled),
    .pastChatItem:hover {
        background-color: #52545b;
    }

    input[type='checkbox']:hover {
        filter: brightness(1.5);
    }

    .bgBrightUp:hover,
    .bgBrightUp:focus {
        background-color: #52545b;
        border: 0;
    }

    .textBrightUp:hover {
        color: white;
    }

    #userChat div:hover,
    #AIChat div:hover {
        background-color: #2f3035;
    }

    #AIChat>div:hover .messageControls,
    #userChat>div:hover .messageControls {
        opacity: 0.7;
    }

    .pastChatItem.activeChat:hover {
        background-color: #2e3b80;
    }

    #pastChatsList:hover {
        background-color: #1e1f23;
    }

    #finalInstruction:hover::-webkit-scrollbar-thumb {
        background-color: #2c2d31;
    }

    .greyscale:not(:disabled):hover,
    .mutedColor:not(:disabled):hover {
        filter: saturate(0.7);
    }

    .opacityHalf:hover {
        opacity: 1;
    }

    .ui-button:hover,
    .ui-button:focus {
        border: 0;
    }

    .clearChatCancelButton:hover {
        background: darkred;
    }
}

@keyframes intenseShake {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    20% {
        transform: translate(var(--shake-intensity), calc(var(--shake-intensity) * -1)) rotate(-0deg);
    }

    40% {
        transform: translate(calc(var(--shake-intensity) * -1), var(--shake-intensity)) rotate(0deg);
    }

    60% {
        transform: translate(var(--shake-intensity), var(--shake-intensity)) rotate(-0deg);
    }

    80% {
        transform: translate(calc(var(--shake-intensity) * -1), calc(var(--shake-intensity) * -1)) rotate(0deg);
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

.nervousShake {
    display: inline-block;
    animation: intenseShake .1s infinite;
    will-change: transform;
    --shake-intensity: 1px;
}

@media (max-width: 1000px) {

    body {
        width: 100vw;
        margin: 0 auto;
        display: flex;
        align-items: start;
        justify-items: flex-start;
        align-content: flex-start;
        justify-content: flex-start;
        flex-direction: column;
    }

    #universalControls {
        height: 3em;
        padding: 0;
        margin: 0;
    }

    #bodyWrap {
        margin: 0;
        padding: 0;
        align-items: start;
        justify-items: flex-start;
        align-content: flex-start;
        justify-content: flex-start;
        flex-direction: column;
    }

    #appWrap {
        align-items: start;
        justify-items: flex-start;
        align-content: flex-start;
        justify-content: flex-start;
        flex-direction: column;
    }

    body,
    #appWrap,
    #bodyWrap,
    #chatWrap,
    #contentWrap,
    #LLMChatWrapper,
    #OOCChatWrapper {
        height: calc(100vh - 5px);
        /* necessary for iOS */
        margin-top: 0;

    }

    #bodyWrap {
        max-height: 100svh;
        width: 100vw;
        flex-flow: column;
    }

    #chatWrap {
        flex-flow: column;
        max-width: 100%;
        max-height: calc(100svh - 3em - 5px);
    }

    #LLMChatWrapper,
    #OOCChatWrapper {
        flex-basis: 100%;
        height: 50%;
        flex: 1;
        box-sizing: border-box;
        padding-top: 5px;
        width: 100%;
    }

    body.soloChatView #userChat,
    body.soloChatView #AIChat,
    body.soloChatView #LLMChatWrapper,
    body.soloChatView #OOCChatWrapper {
        flex-basis: 100%;
        height: 100vh;
    }

    #controlPanel,
    #userListsWrap {
        margin: unset;
        padding: unset;
        width: unset;
        height: unset;
        min-width: unset;
        max-width: unset;
        min-height: unset;
        max-height: unset;

        width: 100%;
        max-width: 100%;

        height: calc(100% - 3em - 5px);
        max-height: calc(100% - 3em - 5px);

        padding-left: 10px;
        padding-right: 10px;


        top: 3em;
        position: fixed;
        z-index: 11;
    }

    #controlPanelContents {
        margin: unset;
        padding: unset;
        width: unset;
        height: unset;
        min-width: unset;
        max-width: unset;
        min-height: unset;
        max-height: unset;

        width: 100%;
        max-width: 100%;

        height: calc(100% - 3em - 5px);
        max-height: calc(100% - 3em - 5px);
    }

    .chatHeader {
        padding-bottom: 10px;
    }

    .chatHideDivWrapper {
        flex-flow: column;
    }

    .custom-select {
        max-width: unset;
    }

    button {
        font-size: 1.5em;
    }

    input[type='checkbox'] {
        height: 2em;
        width: 2em;
    }

    button:not(#controlPanel button, .ui-button) {
        font-size: 1.5em;
    }

    #userList,
    #AIChatUserList {
        width: unset;
        flex: 1;
    }

    #userListsWrap>div {
        flex: 1;
    }
}

@media (display-mode: standalone) {

    body {
        margin: unset;
        padding: unset;
        width: unset;
        height: unset;
        min-width: unset;
        max-width: unset;
        min-height: unset;
        max-height: unset;
        padding-right: max(env(safe-area-inset-right), 0px);
        padding-left: max(env(safe-area-inset-right), 0px);
    }

    body {
        margin: 0 auto;
    }

    /* Remove redundant overrides that apply fixed widths/heights elsewhere */
    #controlPanel,
    #userListsWrap,
    #bodyWrap,
    #universalControls,
    #chatWrap,
    #contentWrap,
    #LLMChatWrapper,
    #OOCChatWrapper,
    #AIChat,
    #userChat {
        margin: unset;
        padding: unset;

        width: unset;
        height: unset;

        min-width: unset;
        min-height: unset;

        max-width: unset;
        max-height: unset;


        /*
            height: calc(100vh - 36px);
            height: calc(100dvh - 36px);
            padding-right: max(env(safe-area-inset-right), 0px);
            padding-left: max(env(safe-area-inset-left), 0px);
            padding-bottom: 0; */
    }

    #LLMChatWrapper,
    #chatWrap,
    #OOCChatWrapper {
        width: 100%;
        height: 100%;
        ;
    }

    #bodyWrap,
    #contentWrap,
    #AIChat,
    #userChat {
        width: 100%;
        height: 100%
    }

    #controlPanel,
    #userListsWrap {
        width: calc(100% - max(env(safe-area-inset-right), 0px) - max(env(safe-area-inset-right), 0px));
        height: calc(100% - 3em - max(env(safe-area-inset-top), 0px) - max(env(safe-area-inset-bottom), 0px));
        top: 2em;
    }

    #appWrap {
        margin: unset;
        padding: unset;
        width: unset;
        height: unset;
        min-width: unset;
        max-width: unset;
        min-height: unset;
        max-height: unset;
        width: 100%;
        height: calc(100vh - 36px);
        height: calc(100dvh - 36px);
        padding-bottom: 0;

    }

    #chatWrap {

        height: 100%;
        align-items: start;
    }

    #universalControls {
        width: 100%;
        max-width: 100%;
        overflow: scroll;
    }

    #contentWrap {
        width: 100%;
    }

    #bodyWrap {
        width: 100%;
    }

    #appWrap {
        align-content: center;
    }



}

@media (max-width: 1000px) and (orientation: landscape) {

    #controlPanelContents,
    #chatWrap,
    #userListsWrap {
        flex-flow: row;
    }

    #LLMChatWrapper,
    #OOCChatWrapper {
        height: 100% !important;
    }

    #controlPanelContents>div,
    #userListsWrap>div {
        flex: 1;
    }

    #controlPanelContents> :first-child {
        flex: 0
    }

    #controlPanelContents {
        gap: 5px;
    }

    .isControlPanelToggle i {
        display: none;
    }

    #crowdControl {
        margin-top: 5px;
    }

}